/* filename: ExpenseItem.css */
.Ex-item {
  background-color: rgb(75, 78, 78);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  color: white;
}

.Ex-left {
  display: flex;
  align-items: center;
}

.Ex-date,
.Ex-description,
.Ex-amount {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
}

.Ex-date {
  width: 150px;
}

.Ex-description {
  flex-grow: 1;
}

.Ex-amount {
  font-weight: bold;
  background-color: #40004f;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  text-align: center;
  min-width: max-content;
}

.Ex-add-btn {
  font-size: 1rem;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 1rem;
}

.Ex-add-btn:hover {
  background-color: #218838;
}

@media (max-width: 1050px) {
  .Ex-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .Ex-amount {
    align-self: flex-end;
  }

  .Ex-description {
    font-size: 1.5rem;
  }

  .Ex-date,
  .Ex-amount {
    font-size: 1.25rem;
  }

  .Ex-add-btn {
    align-self: stretch;
    text-align: center;
    margin-left: 0;
    margin-top: 1rem;
  }
}